.lbl-userName {
  font-size: 18px;
  font-weight: bold;
}

.lbl-email {
  font-size: 16px;
  font-style: italic;
}

.card-user {
  width: 30%;
  margin: 16px 8px;
}

.div-buttons {
  display: flex;
}

.btn-edit {
  margin-left: auto;
  margin-right: auto;
}

.btn-delete{
  margin-left: auto;
  margin-right: auto;
}

.div-row {
  display: flex;
  flex-wrap: wrap;
}
