<div class="div-row">
  <mat-card class="card-user" *ngFor="let element of userList">
    <mat-card-content>
      <p class="lbl-userName">User name: {{element.userName}}</p>
      <p class="lbl-email">Email: {{element.email}}</p>
      <div class="div-buttons" *ngIf = "showAdminControls">
        <button class="btn-edit" mat-raised-button color="primary" (click)="onEdit(element)">Edit</button>
        <button class="btn-delete" mat-raised-button color="accent" (click)="onDelete(element)">Delete</button>
      </div>
      <div class="div-buttons" *ngIf = "!showAdminControls">
        <button class="btn-edit" mat-raised-button color="primary" (click)="onEdit(element)">Edit</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
