<mat-drawer-container class="page-container" autosize>
  <mat-drawer #drawer class="div-sidenav" mode="side">
    <div class="div-img-logo">
      <img class="img-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuLNguRJlcleGuri-h9hQ5ZsPuygm2jKJ6Lg&usqp=CAU"/>
    </div>
    <mat-card class="menu-card" (click) = "onDashboardPage()">
      <mat-card-content>
        <button mat-button color="primary">Dashboard</button>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content class="menu-card">
        <p>Daniel</p>
      </mat-card-content >
    </mat-card>
  </mat-drawer>

  <div class="div-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)= "drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Online Shop</span>
      <span class="span-spacer"></span>
      <app-cart-button></app-cart-button>
      <button mat-icon-button (click)= "onLogOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <app-list-item [showAdminControls]= "false"></app-list-item>
  </div>
</mat-drawer-container>

